* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "pretendard";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

/* Majoris Italic 폰트를 추가하는 부분 */
@font-face {
  font-family: "Majoris Italic";
  src: url("https://db.onlinewebfonts.com/t/79a88823095c0d550128ea1efb7c8158.eot");
  src: url("https://db.onlinewebfonts.com/t/79a88823095c0d550128ea1efb7c8158.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/79a88823095c0d550128ea1efb7c8158.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/79a88823095c0d550128ea1efb7c8158.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/79a88823095c0d550128ea1efb7c8158.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/79a88823095c0d550128ea1efb7c8158.svg#Majoris Italic")
      format("svg");
}

html {
  font-family: "pretendard", "Majoris Italic", sans-serif; /* 프리텐다드와 Majoris Italic 글꼴을 설정 */
}
